<?xml version="1.0"?>

<model>
  <name>Module</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Jason Dekarske</name>
    <email>jdekarske@ucdavis.edu</email>
  </author>

  <description>
    a generic module to go on the test fixture pallet.
  </description>
</model>