<?xml version="1.0"?>

<model>
  <name>Interface</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Jason Dekarske</name>
    <email>jdekarske@ucdavis.edu</email>
  </author>

  <description>
    The text fixture which is the interface for the human and robot to grab from and press buttons.
  </description>
</model>